<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Ceci c'est la route {{route}}</h1>
    <p>Explore les autres routes ici</p>
    <button><a href="/route-1"> Route 1</a></button>
    <button><a href="/route-2">Route 2 </a></button>
    <button><a href="/route-3">Route 3</a></button>
  </body>
</html>
